{
    "workbench.colorTheme": "Solarized Dark",
    "cloudcode.updateChannel": "Insiders",
    "editor.inlineSuggest.enabled": true,
    "github.copilot.enable": {
        "*": true,
        "plaintext": true,
        "markdown": false,
        "scminput": false
    },
    "github.copilot.advanced": {
    },
    "telemetry.telemetryLevel": "off",
    "workbench.enableExperiments": false,
    "workbench.cloudChanges.continueOn": "off",
    "workbench.cloudChanges.autoResume": "off",
    "npm.fetchOnlinePackageInfo": false,
    "files.autoSave": "onWindowChange",
    "editor.autoClosingBrackets": "beforeWhitespace",
    "editor.comments.insertSpace": false,
    "editor.dragAndDrop": false,
    "editor.emptySelectionClipboard": false,
    "editor.stickyScroll.enabled": true,
    "editor.stickyTabStops": true,
    "workbench.editor.highlightModifiedTabs": true,
    "rust-analyzer.debug.openDebugPane": true,
    "rust-analyzer.inlayHints.lifetimeElisionHints.enable": "skip_trivial",
    "rust-analyzer.interpret.tests": true,
    "rust-analyzer.restartServerOnConfigChange": true,
    "rust-analyzer.inlayHints.parameterHints.enable": false,
    "editor.parameterHints.enabled": false,
    "rust-analyzer.inlayHints.typeHints.enable": false,
    "rust-analyzer.hover.actions.gotoTypeDef.enable": false,
    "rust-analyzer.inlayHints.chainingHints.enable": false,
    "workbench.colorCustomizations": {
        "[Solarized Dark]": {
            "editorWhitespace.foreground": "#00aeff18",
            "editorInfo.background": "#38a5597c",
            "editorWarning.background": "#c5cf3670",
            "editorError.background": "#ac3a1765",
            "editorError.foreground": "#520505", // squiggly line
            "editor.selectionBackground": "#e788ff7c", //Currently SELECTED text
            "editor.selectionHighlightBackground": "#ff00005b", //Same content as selection
            "editor.findMatchBackground": "#00cc44a8", //Current SEARCH MATCH
            "editor.findMatchHighlightBackground": "#ff7b00a1", //Other SEARCH MATCHES
            "numberedBookmarks.lineBackground": "#007700"
        }
    },
    "rust-analyzer.highlightRelated.references.enable": false,
    "svelte.enable-ts-plugin": true,
    "editor.autoClosingQuotes": "beforeWhitespace",
    "workbench.sideBar.location": "right",
    "workbench.editor.scrollToSwitchTabs": true,
    "workbench.editor.tabCloseButton": "off",
    "workbench.editor.wrapTabs": true,
    "workbench.editor.tabSizing": "shrink",
    "editor.fontFamily": "mononoki",
    "editor.renderWhitespace": "all",
    "files.trimTrailingWhitespace": true,
    "editor.unicodeHighlight.nonBasicASCII": true,
    "files.associations": {
        "*.svx": "markdown"
    },
    "evenBetterToml.rules": [
    ],
    "evenBetterToml.formatter.allowedBlankLines": 2,
    "evenBetterToml.formatter.columnWidth": 128,
    "evenBetterToml.schema.associations": {
    },
    "evenBetterToml.schema.links": true,
    "evenBetterToml.semanticTokens": true,
    "evenBetterToml.formatter.reorderKeys": true,
    "evenBetterToml.formatter.reorderArrays": true,
    "typescript.updateImportsOnFileMove.enabled": "always",
    "cmake.configureOnOpen": false,
    "editor.insertSpaces": false,
    "editor.wordWrap": "wordWrapColumn",
    "editor.wordWrapColumn": 120,
}
